.DS_Store
TCDoorBell.xcodeproj/project.xcworkspace/contents.xcworkspacedata
TCDoorBell.xcodeproj/project.xcworkspace/xcuserdata/jlgosse.xcuserdatad/UserInterfaceState.xcuserstate
TCDoorBell.xcodeproj/xcuserdata/jlgosse.xcuserdatad/xcschemes/TCDoorBell.xcscheme
TCDoorBell.xcodeproj/xcuserdata/jlgosse.xcuserdatad/xcschemes/xcschememanagement.plist
TCDoorBell.xcodeproj/xcuserdata/jlgosse.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
